<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - binarygoose.dev</title>
  <link rel="preload" href="/assets/fonts/CommitMono-400-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/assets/css/colors.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preload" href="/assets/css/code.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="/assets/css/mobile.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="/assets/css/code.css">
    <link rel="stylesheet" href="/assets/css/mobile.css">
  </noscript>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
</head>

<body>

  <header class="site-header">
    <span class="site-title">binarygoose.dev</span>
    <nav class="nav-bar">
      {{nav}}
    </nav>
  </header>

  <div class="container">
    <div class="prompt">cd binarygoose.dev/content/posts</div>
    <div class="prompt">cat {{term_title}}.md</div>

    <h1>{{title}}</h1>

    <div class="post-meta">
      Published: {{publishDate}}
    </div>

    <main class="content">
      {{content}}
    </main>

    <div class="post-meta">
      Tags: {{tags}}
    </div>

    <div class="prompt">exit</div>
  </div>
</body>

</html>