---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    <div class="flex items-center gap-4">
        {
            siteConfig.logo && siteConfig.logo?.src ? (
                <a href="/" class="flex items-center gap-4">
                    <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-16" />
                    <span class="font-sans text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl">{siteConfig.title}</span>
                </a>
            ) : (
                <a class="font-sans text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
                    {siteConfig.title}
                </a>
            )
        }
    </div>
    {siteConfig.subtitle && <p class="text-sm leading-tight mt-1 opacity-50">{siteConfig.subtitle}</p>}
</header>
